<li [ngClass]="{ completed: todo.completed, editing: editMode }">
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [checked]="todo.completed"
      (change)="toggleCompleted()"
    />
    <label (dblclick)="beginEdit()">{{ todo.title }}</label>
    <button class="destroy"></button>
  </div>
  <input
    #fld
    (blur)="commitEdit()"
    (keyup.enter)="commitEdit()"
    (keyup.esc)="cancelEdit()"
    class="edit"
    [value]="editText"
    (change)="editText = fld.value"
  />
</li>
